body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
}

.content table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
}

.content table th, .content table td {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
}

.content h1 {
    text-align: center;
    margin-top: 50px;
}

.content form {
    text-align: center;
    margin: 20px 0;
}

.content form input[type="text"] {
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 20px;
    
}

.content form input[type="submit"] {
    padding: 5px;
    width: 100px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    height: 30px;
}

#delete {
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    font-size: 10px;
}

#edit {
    background-color: rgb(192, 192, 41);
    border: none;
    border-radius: 5px;
    font-size: 10px;
}